*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Krub', sans-serif;
  color: white;
  background-color: #171717;
  padding-top: 20px;
}
.section{
  height: 80vh;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.topList{
  display: none;
}
@media(min-width: 900px) {
  .topList{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topList li {
    display: flex;
    list-style: none;
    font-size: small;
    font-weight: 700;
  }
  .topList li ul {
    margin: 0px 40px;
  }
  
}
