*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body {
  font-family: 'Krub', sans-serif;
  color: white;
  background-color: #171717;
  padding-top: 20px;
  overflow-x: hidden;
}

body a {
  color: white;
  text-decoration: none;
}
body button {
  font-size: 13px;
}

.section {
  padding: 45px 0px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.topList {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  padding: 20px;
  height: 100%;
}

.fractionOne {
  padding: 50px 0px;
  transform: scale(0.7);
}

.fractionOne h5 {
  text-align: center;
  margin-top: -80px;
}

.fractionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px
}

.fractionThree {
  display: none;
}

.slogan {
  display: none;
}

.heroBase {
  width: 100vw;
  height: 150px;
  background-color: #171717;
  position: relative;
  bottom: 30px;
  -webkit-box-shadow: 0px 0px 29px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 29px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 29px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.plus {
  color: #a460f9;
  font-weight: bold;
}

.thinText {
  font-weight: 300;
}

.uiText {
  font-size: 140px;
  margin-top: 90px;
}

.uiPoint {
  color: #a460f9;
}

.beginnerText {
  writing-mode: tb-rl;
  transform: scale(-1, -1);
  font-weight: 300;
  font-size: xx-large;
  letter-spacing: 4px;
  margin: 20px 10px;
}

.beginnerS {
  font-weight: 600;
}

.skills {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.skillsCenter {
  width: 100%;
  transform: scale(0.7);
}

#atomShape {
  position: relative;
  max-width: 400px;
  top: -160px;
  overflow: hidden;


}

.infoHide {
  display: none;
}

.skillsAbout {
  display: none;
}

.skillsRight {
  display: none;
}

.skillsLeft {
  display: none;
}

.footer {
  padding: 60px 0px;
  background-color: #a460f9;
}
#courses{
  padding: 0px 40px;
}
.coursesTitle {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrouselCard {
  border: 2px white solid;
  padding: 20px;

}

.cornerNumber {
  background-color: white;
  height: 40px;
  width: 40px;
  color: #171717;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  top: -20px
}

.slick-slide {
  padding: 0 30px;
  box-sizing: border-box;
}

.videoFrame {
  padding: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.video {
  width: 100%;
  max-height: 180px;
  height: auto;
}

.videoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.aboutUs ul li {
  list-style: none;
  margin: 20px 0;
}
.footerBreak{
  display: none;
}
.footer{
    padding: 30px;
  }


@media(min-width: 900px) {
  .topList {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .topList li {
    display: flex;
    list-style: none;
    font-size: small;
    font-weight: 700;
  }

  .topList li ul {
    margin: 0px 40px;
  }


  /* .topList li ul:hover {
    border-bottom: 2px solid white;
  } */
  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    padding: 20px;
    height: 100%;

  }

  .heroFraction {
    height: 100%;
  }

  .fractionOne {
    transform: scale(1);
  }

  .fractionThree {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .slogan {
    display: block;
  }

  .heroBase {
    font-size: 23px;

  }

  .infoHide {
    display: flex;
    align-items: center;
  }

  .year {
    border: 2px solid white;
    padding: 10px 25px;
    font-size: small;
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: 150px;
    right: -3px;
    overflow: hidden;
  }

  .skillsAbout {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-size: x-large;
    color: #262626;

  }

  .skillsCenter {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
  }

  .skillsRight {
    display: block;
    writing-mode: tb-rl;
    transform: scale(-1, -1);
    margin: 30px
  }

  .skillsLeft {
    display: block;
    writing-mode: tb-rl;
    margin: 30px
  }

  #atomShape {
    position: relative;
    max-width: 600px;
    top: -260px;

  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 100px 80px;
    align-items: center;

  }

  .video {
    width: 100%;
    min-height: 600px;
    height: auto;
  }

  .aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 20px 150px;
    text-align: left;


  }

  .aboutUs ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    padding: 35px 0;
  }
 
  
  
}

@media(max-width: 615px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .uiText {
    font-size: 140px;
    margin-top: 0px;
  }

  .fractionOne {
    padding: 0;
  }

  .beginnerText {
    display: none;
  }

  .heroBase {
    display: flex;
    flex-direction: column;
    bottom: 70px;
  }
  .aboutImage{
    display: none;
  }
  #whyImage{
    display: none;
  }
  .footer{
    padding: 30px;
  }
  .footerBreak{
    display: block;
  }
  #coursesYear{
    display: none;
  }
  




}